
DJANGO_SECRET = "DJANGO_SECRET_KEY_TO_USE"

CELERY_BROKER_URL="redis://redis:6379/0"

DJANGO_DEBUG="TRUE"
DB_NAME="mysql"
DB_USER="mysql_user"
DB_PASSWORD="mysql_password"
DB_HOST="127.0.0.1"
DB_PORT="3306"
SENTRY_DSN=""
STATIC_ROOT="staticfiles"
MEDIA_ROOT="media"
