
DJANGO_SECRET = "DJANGO_SECRET_KEY_TO_USE"

DJANGO_DEBUG="TRUE"
DB_NAME="postgres"
DB_USER="postgres_user"
DB_PASSWORD="postgres_password"
DB_HOST="127.0.0.1"
DB_PORT="5432"
SENTRY_DSN=""
STATIC_ROOT="staticfiles"
MEDIA_ROOT="media"
